<div class="users_show">
  <h1>User Profile</h1>
  <div class="users_show__info-item">
    <label>Email</label>
    <div><%= @user.email %></div>
  </div>
  <div class="users_show__info-item">
    <label>Private Transfers</label>
    <div>TODO: show transfers between <%= current_user&.email %> and <%= @user.email %></div>
  </div>
  <% if current_user&.id != @user.id %>
    <div class="users_show__info-item">
      <label>Block/Unblock</label>
      <div>TODO: make a block/unblock button</div>
      <button>Block this user</button>
    </div>
    <div class="users_show__info-item">
      <label>Send money</label>
      <div>TODO: make sending money possible</div>
      <div>
        <label>Amount</label>
        <input type="text" placeholder="10.0" />
        <select>
          <option>Private</option>
          <option>Public</option>
        </select>
        <button>Send</button>
      <div>
    </div>
  <% end %>

  <% if current_user&.id == @user.id %>
    <h2>My Info</h2>

    <div class="users_show__info-item">
      <label>Balance</label>
      <div><%= @user.balance %></div>
    </div>
    <div class="users_show__info-item">
      <label>TODO: Pending transfers</label>
      <ul>
        <li>
          <div>Sender: some@one.com</div>
          <div>Amount: 100.0</div>
          <div>
            <button>Accept</button>
            <button>Reject</button>
            <button>Block some@one.com</button>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>
