<div class="users_show">
  <h1>User Profile</h1>
  <div class="users_show__info-item">
    <label>Email</label>
    <div><%= @user.email %></div>
  </div>
  <div class="users_show__info-item">
    <label>Private Transfers</label>
    <div class="users_show__personal-transfers">
      TODO: show transfers between <%= current_user&.email %> and <%= @user.email %>
    </div>
  </div>

  <% if current_user&.id == @user.id %>
    <h2>My Info</h2>
    <div class="users_show__info-item">
      <label>Balance</label>
      <div><%= @user.balance %></div>
    </div>
  <% end %>
</div>
